a:visited{color:#AC7D0C;text-decoration:line-through;}
a:link{color:#AC7D0C;text-decoration:line-through;}

body{
	background-color: black;
}

@keyframes lockmove{
	0%{
		bottom:-2px;
	}

	50%{
		bottom:5px;
	}

	100%{
		bottom:-2px;
	}
}

@font-face{
	font-family: westsac, sans-serif;
	font-weight: 400;
	font-style: normal;
}

p{
	color: white;
	flex: 2;
	font-family: westsac;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:70px;
	justify-content: center;
	align-content: center;
}

.container2{
	display: flex;
	width:1000px;
	padding:20px;
}

#lockpic{
	animation: lockmove 1s infinite ease alternate;
	width:7%;
	height:5%;
	position: relative;
}


